#logo{
    width: 50px;
    height: 50px;
}
#logo1{
    width: 40px;
    height: 40px;
}

.background-imagen {

    display: block;
    
    margin: 0;
    object-fit: cover;

    width: 100%;
    height: 100%;
    
    object-position: center; 
}

